h2 {
    text-align: center;
    font-weight: bold;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

span {
	font-size: 1.2em;
}

div.project_1 {
    text-align: center;
}

p.project__description1 {
    font-size: 1.2em;
}

p.project__description2 {
    font-size: 1.2em;
}

p.project__description__hashtag {
    font-size: 1.2em;
}

p.project__github {
    font-size: 1.2em;
}

div.project_2 {
    text-align: center;
}

div.project_3 {
    text-align: center;
}
