.competences {
    margin-top: 1.5em;
}

div.competences_front {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.competences_back {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}