.competences {
    margin-top: 1em;
}

img.competencesimg {
	width: 100px;
	height: 100px;
}

.competencesGenerales__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li.competencesGenerales_margeArtificielle {
    margin-left: 2em;
}

