.competences {
    margin-top: 1em;
}

img.competencesimg {
	width: 100px;
	height: 100px;
}

.competencesGenerales__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li.competencesGenerales_margeArtificielle {
    list-style: none;
    padding-right: 3em;
    padding-left: 3em;
}