.nav {
    overflow: visible;
    height: 50px;
    font-size: 2em;
    background-color: #343A40;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}

nav.nav {
    align-items: center;
}

a.nav__link {
    color: white;
}

a:hover {
    background-color: rgb(80, 63, 97);
    opacity: 0.33;
  }


h2.ui.icon.center.aligned.header {
    margin-top: 1em;
}
  