.nav {
    overflow: visible;
    height: 25px;
    font-size: 1.5em;
    background-color: #343A40;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}

a:hover {
    background-color: rgb(80, 63, 97);
    opacity: 0.33;
  }